<ion-header>
  <ion-toolbar>

      <ion-buttons slot="start">
          <ion-menu-button class="" menu="m1"></ion-menu-button>
        </ion-buttons>
    <ion-title>Your Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="">
    <ion-row class="">
      <ion-col size-md="6" offset-md="3">
          <ion-list class="">
              <ion-item-sliding *ngFor="let booking of this.loadedBookings" #slidingBooking>
                <ion-item class="">
                    <ion-label class="">
                      <h5>{{ booking.placeTitle }}</h5>
                      <p>Guests: {{ booking.guestNumber }}</p>
                    </ion-label>
                </ion-item>
                <ion-item-options class="">
                  <ion-item-option color="danger" (click)="this.onCancelBooking(booking.id, slidingBooking)">
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
