<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header class="">
      <ion-toolbar class="">
        <ion-title class="">PairBnB</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="">
      <ion-list class="">
        <ion-menu-toggle class="">
          <ion-item lines="none" routerLink="/places/tabs/discover"  >
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label class="">Discover Places</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle class="">
          <ion-item lines="none" routerLink="/bookings">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label class="">Your Bookings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle class="">
            <ion-item lines="none" (click)="onLogout()">
                <ion-icon name="exit" slot="start"></ion-icon>
                <ion-label class="">Logout</ion-label>
              </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
